//
   Created with JetBrains WebStorm.
   User: mlieberman
   Date: 3/27/13
   Time: 5:56 PM
   To change this template use File | Settings | File Templates.

style
  #graph_container {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
  }

  .graph {
    position: relative;
    left: 40px;
  }

  .y_axis {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
  }

div(ng-controller="GraphCtrl")
    .container(fade-in='fade-in')
        #hero-container.container
            .hero-unit
                h1 Graphular
                p Blah blah blah
                br
                p
                    small
                        | Blah blah blah
                br
                .pull-left
                    section.clearfix

    div(ng-repeat="graph in graphs")
        div(rickshaw id="graph_container", graph="graph", type="line")
            .y_axis
            .graph