/** TODO this can be cleaned up, LESSified, and minimized **/

/* just commit to showing the scroll on the right.  otherwise looks funny when
   navbar is resized horizonally when vertical scroll appears */
html {
  overflow-y: scroll;
}

/** this allows us to display nothing until angular has applied changes to the dom
    without this we see what the dom wants to display first, and then get an update
    within milliseconds once angular is finished. -- it's the "funny flicker effect"
 **/
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/** supports mail/messaging feature **/
.mailSection:hover {
  background-color: green;
  color: white;
}

.mailSection .unreadMail {
  color: white;
}

.mailDropdown, hr {
  margin: 0px;
}

.mailText {
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 5px;
  margin-right: 5px;
}

.mailSection {
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

.mailDropdown {
  border-bottom-color: rgb(233, 233, 233);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-color: rgb(51, 51, 51);
  border-top-style: none;
  border-top-width: 0px;
  color: rgb(51, 51, 51);

  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  left: 0px;
  width: 352px;
}

/** **
supports grid feature
**/

/******** Grid Global ********/

.ngPagerControl .ngPagerButton {
  /** pagination buttons are pushed down 10px... fix that here... **/
  margin-top: -10px;

  /** and a little space in between  **/
  margin-left: 2px;
  margin-right: 2px;
}

.nglabel {
  display: block;
  float: left;
  font-weight: bold;
  padding-right: 5px;
}

.ngNoSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/** better position ngGrid cell contents **/
.ngCell div {
  margin-top: 5px;
  margin-left: 5px;
}

/******** Grid ********/

.gridStyle {
  border: 1px solid rgb(212, 212, 212);
  /* width: none !important; */
  height: 420px;
}

.ngGrid {
  background-color: rgb(253, 253, 253);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/******** Header ********/

.ngGroupPanel {
  background-color: rgb(234, 234, 234);
  overflow: hidden;
  border-bottom: 1px solid rgb(212, 212, 212);
}

.ngGroupPanelDescription {
  margin-top: 5px;
  margin-left: 5px;
}

.ngGroupList {
  list-style-type: none;
}

/******** Footer ********/
.ngFooterPanel {
  /** height: 30px !important; **/
}

/*.navbar .nav ul.dropdown-menu {
  z-index: 100;
  opacity: 1;
  visibility: visible;
}

.dropdown-menu {
  float: none;
  min-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 13px;
  margin: 0px;
  list-style-type: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;


}

.navbar .nav ul.dropdown-menu .open{
  -webkit-backface-visibility: hidden;
  -webkit-transform: matrix(1, 0, 0, 0.99, 0, 0);
  -webkit-transform-origin: 0px 0px;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.30000001192092896s;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: rgb(52, 73, 94);
  display: block;
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 36px;
  left: 15px;
  line-height: 18px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  opacity: 1;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 13px;
  position: absolute;
  text-align: left;
  top: 100%;
  visibility: visible;
  width: 234px;
  z-index: 100;

}

.navbar .nav > li > .dropdown-menu:after {
  position: absolute;
  left: 15px;
  top: 5px;
  content: '';
}

.navbar .nav > li > .dropdown-menu:before {
  content: "";
  border-style: solid;
  border-width: 0 9px 9px 9px;
  border-color: transparent transparent #34495e transparent;
  height: 0px;
  position: absolute;
  left: 15px;
  top: 5px;
  width: 0px;
  -webkit-transform: rotate(360deg);
}*/

.navbar .nav ul li:only-child {
  border-radius: 4px 4px 4px 4px;
}